{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto Django{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'ddproject\css\peraminho.css' %}">
</head>
<body>
    <div class="container-fluid vh-100">
        <div class="row h-100">
            {% include 'shared/menu_principal.html' %} 
            <main class="col-md-10 ml-auto p-4">
                
                {% if submenu %}
                <header class="mb-4">
                            <ul class="nav nav-tabs">
                                {% for menu, link in submenu.items %} 
                                <li class="nav-item">
                                    <a class="nav-link_sub" href="{{link}}">{{menu}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                </header>

                {% endif %}

                <div class="main-body parchment-paper p-4">
                    {% block content %}
                        {% endblock %}
                </div>

                <footer class="mt-4 text-center">
                    <hr>
                    <p>&copy; {% now "Y" %} Seu Projeto. Todos os direitos reservados.</p>
                </footer>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>