{% load static %}
<nav id="main-menu" class="col-md-2 bg-light p-4 fixed-left">
    <h1>D&D Project</h1>
    <div class="banner mb-3">
        <img src="{% static 'ddproject/images/baner1.jpg' %}" alt="Banner" class="img-fluid">
    </div>
    {% if usuario %}
    <div>
        <p>Nome: {{ usuario.nome_completo }}</p>
        <ul>
            <li>{{ usuario.nome_usuario }}</li>
            <li>{{ usuario.email_usuario }}</li>
        </ul>

    </div>
  {% endif %}

    <hr>
    <h3>Menu content</h3>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'lista_personagens'%}">Personagens</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Seção 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Seção 3</a>
        </li>
    </ul>
</nav>